body {

    margin: 0;
    background-color: azure;
}

#navbar {
    display: grid;
    grid-auto-flow: column;
    background-color: blanchedalmond;
    width: 100%;
    overflow: hidden;
    position: fixed;
    padding: 20px;
    box-shadow: 1px 2px 3px 4px rgb(139, 109, 70);
    
}

#logo {
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

span {
    color: rgb(59, 59, 189);
}

#links {
    display: grid;
    justify-content: right;
    grid-auto-flow: column;
    align-content: center;
    gap: 1.5em;

}

#links a {
    text-decoration: none;
    color: rgb(59, 53, 53);
    text-transform: capitalize;
    font-weight: bold;
}

#links a:hover {
    color: rgb(58, 58, 148);
}

.company {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)), url("/images/Hotel-Management.jpg");
    height: 70%;
    background-position: center;
    background-size:cover;
    padding: 10%;
    
}

.hero_text {
    text-align: center;
    color: whitesmoke;
}

.hero_text button {
    border-radius: 25%;
    padding: 10px;
    background-color: thistle;
    cursor: pointer;
}

.hero_text button:hover {
    background-color: teal;
    color: white;
}

.cards {
    display: grid;
    grid-auto-flow: column;
    padding: 20px;
    margin: 20px;
}

.card {
    border: 2px solid green;
    margin: 10px;
}

.profile {
    width: 100%;
}

.info {
    margin: 10px;
    padding: 5px;
    line-height: 1.5rem;
}

.conmap {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    
}

.contact {
    border: 2px solid rgb(177, 171, 171);
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

label {
    line-height: 2.5rem;
}

.map {
    border: 2px;
    padding: 5px;
}

footer {
    background-color: rgb(56, 56, 139);
}

.subscribe {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(177, 171, 171);
        
}
  
input[type="text"] {
   width: 80%;
}

.social {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.copyright {
   display: grid;
   background-color: rgb(44, 44, 189);
   color: white;
   justify-content: center;
}




